<div class="styled-select" [class.is-open]="isOpen" [class.is-disabled]="isDisabled">
	<button
		type="button"
		class="styled-select__trigger"
		[attr.name]="name"
		[attr.aria-expanded]="isOpen"
		aria-haspopup="listbox"
		[disabled]="isDisabled"
		(click)="toggle()">
		<span [class.is-placeholder]="!value">{{ value || placeholder }}</span>
		<span class="styled-select__chevron" aria-hidden="true"><svg viewBox="0 0 24 24" fill="none"><path d="m6 9 6 6 6-6" /></svg></span>
	</button>
	<div *ngIf="isOpen" class="styled-select__menu" role="listbox">
		<button
			*ngFor="let option of options"
			type="button"
			role="option"
			[attr.aria-selected]="value === option"
			[class.is-selected]="value === option"
			(click)="select(option)">
			<span>{{ option }}</span><b *ngIf="value === option" aria-hidden="true">✓</b>
		</button>
	</div>
</div>
